<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>


<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">
	        	<div class="container">
				    <div class="starter-template">
				        <h1>403 - Se Presento un problema</h1>
				        <div th:inline="text"> Regrese a la pagina intentelo de nuevo , Si NO se resuelve el problema enviar un mensaje al wassapt 8312-4207 o 8729-2997.</div>
				        
				        
				    </div>
				</div>
            </section>    
 		</div>
         <!-- /.content-wrapper -->
	    <footer class="main-footer" th:replace="layout/layout :: footer"></footer>
    </div>
	  
 
<div th:replace="layout/layout :: scripts"></div>


</body>
</html>
