<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <!-- Normalize-->
   <link rel="shortcut icon" type="image/png" th:href="@{/dist/img/6446374_preview.png}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    
    
    <!-- Select-boostrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-select/dist/css/bootstrap-select.css}" >
    
    <!-- Font-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/regular.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" >
    <link rel='stylesheet' type='text/css' th:href='@{/css/openSanz.css}' >
    <link th:href='@{/css/montserrat.css}' rel='stylesheet'>
   
    
    <!-- DATATABLE -->
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/media/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/extensions/Responsive/css/responsive.dataTables.min.css}" />
    
       <!-- Bootstrap 4.0.0 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
    
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
        <!-- crud de la aplicacion -->
    <link rel="stylesheet" th:href="@{/css/factura.css?v2}"/>
   <!-- SWEET ALERT -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert2.min.css}">
     <!-- Date Picker -->
    <link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}"/>
       <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.custom.min.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery-ui.theme.css}"/>
     
<!--  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-datetimepicker.css}"> -->
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{/prueba/bootstrap-datetimepickerPrueba.min.css}"/>
     
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery.toast.css}"/>
    <style>
  .containerMenu{
	  background-color: #222d32 !important;
  }
	
	</style>

</head>






<div th:fragment="scripts" th:tag="remove">
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript"  th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<!-- JQUERY Properties-->
	<script type="text/javascript" th:src="@{/js/jquery.i18n.js}"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.blockUI.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<!-- MASK -->
	<script type="text/javascript" th:src="@{js/jquery.mask.js}"></script>
	<!-- SWEERT ALERT -->
	<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tooltip.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/momentPrueba.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/bootstrapPrueba.min.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/bootstrap-datetimepickerPrueba.min.js}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	<script type="text/javascript"  th:src="@{/dist/js/jquery-qrcode-0.14.0.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/morris/morris.min.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/validator.min.js}"></script>
	<script type="text/javascript"  th:src="@{/dist/js/app.js}"></script>
	<script type="text/javascript"  th:src="@{/dist/js/pages/dashboard.js?v33}"></script>
	<script type="text/javascript"  th:src="@{/js/jsonPath.js}"></script>
	<!-- DATATABLE -->
	<script type="text/javascript" th:src="@{/DataTables/media/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
	<!-- SISTEMA -->
	
	<script type="text/javascript"  th:src="@{/js/facturaDefaultJqueryValidator.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
	<!-- Select-boostrap-->
	<script type="text/javascript"  th:src="@{/bootstrap-select/dist/js/bootstrap-select.js}"></script>
	<script type="text/javascript"  th:src="@{/bootstrap-select/dist/js/i18n/defaults-es_ES.js}"></script>
	<script type="text/javascript"  th:src="@{/js/moment-timezone.js}"></script>
	<script type="text/javascript"  th:src="@{/js/jquery-barcode.js}"></script>
	<script type="text/javascript"  th:src="@{/js/print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.toast.js}+'?v=2'"></script>
    <script type="text/javascript" th:src="@{/js/jQuery.print.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.mask.js}"></script>
    <script type="text/javascript" th:src="@{/js/printThis.js}"></script>
    
    <script th:src="@{/riot/riot.js}"></script>
	<script th:src="@{/riot/riot-compiler.min.js}"></script>
	<script type="text/javascript"  th:src="@{/js/factura.js?v=4}"></script>
</div>







<footer class="main-footer" th:fragment="footer">
    <strong>Copyright &copy; 2018 Factura Electronica EmprendeSoftCR. Telefono : 8312-4207 / 8729-2997 Email:gobookingcr@emprendesoftcr.com</strong>
</footer>


</html>