<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin">
<head>
 	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Lista de compras para anular</title>
    
       <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

	<!-- jQuery UI 1.11.4 -->
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<!-- JQUERY Properties-->
	<script type="text/javascript" src="js/jquery.i18n.js"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	 
	 <!-- MASK -->
	 <script type="text/javascript" src="js/jquery.mask.js"></script>
	 
	 
   <!-- SWEERT ALERT -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js"></script>

 
    <!-- RIOT -->
	<script src="/riot/riot.js"></script>
	<script src="/riot/riot-compiler.min.js"></script>
	<script src="/riot/riot.csp.js"></script>
	<!-- include riot.js and the compiler -->
	<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script>
	
	<!-- MANTENIMIENTO DE COMPRAS -->
	<script type="text/javascript" src="/js/views/compras/listaComprasAnulacion.js"></script>
	
    
</head>
<body>
<section layout:fragment="header">


</section>
<div layout:fragment="content">
	    <!-- Titulos -->
    <div  class="row "  >
        <div  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h1 > <i class="fa fa-calculator" th:text="#{compras.titulo.anulacion}"></i ></h1>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        </div>
    </div>
    
 

    
    <!-- Inicio Filtros-->
<div class="mostrarListadoDeFacturas"  id="mostrarListadoDeFacturas">
        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-left advanced-search-grid" style="padding : 2px;  cursor: pointer;" id="panelFiltros">
                    <h4> <i class="fa fa-filter" style="padding-left : 5px;"></i>&nbspFiltro avanzado <i id="advanced-search-collapse-icon" class="fa fa-expand pull-right" style="padding-right : 5px;"></i></h4>
                </div>  
                <div  id = "filtrosAvanzados" class="advanced-search-grid text-left" style="padding-top : 5px; padding-bottom : 5px;">
                    <form id="filtros" name="filtros">              
                        <div class= "row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="knob-label"  >Fecha Inicial <span class="requeridoDato">*</span></label>
                                    <div  class="form-group input-group date datepickerFechaInicial" data-provide="datepicker"   data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control fechaInicial" id="fechaInicial"  name= "fechaInicial" readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>	                             
                                </div>  
                            </div>             
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="knob-label" >Fecha Final <span class="requeridoDato">*</span></label>
                                        <div  class="form-group input-group date datepickerFechaFinal" data-provide="datepicker"   data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control fechaFinal" id="fechaFinal"  name= "fechaFinal" readonly>
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>	                             
                                    </div>
                                </div>  
                            </div>
                           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label th:text="#{proveedor.titulo}"> </label>  
                                    <select  class="form-control selectidProveedor" id= "idProveedor" name="idProveedor" data-live-search="true">
                                        <option  data-tokens="Todos"   value="0"  >Todos</option>
                                    </select>
                                </div>  
                            </div>    
                             
                        </div>
                       
                    </form>  
                </div>
            </div>
            <div class="col-xs-12 text-right">
                <button  id="bontonBusqueda" type="button" class="btn btn-success btnBusquedaAvanzada" title ="Consultar" name="button" ><i class="fa fa-refresh"></i></button>
            	<button  class="btn btn-warning btnLimpiarFiltros" title="LimpiarCampos" type="button"><i id="clear-filters" class="fa fa-eraser clear-filters"></i></button>            
            </div>
        </div>
        <br>
</div>
 <!-- Listado  -->
    
        <div class="row">
            <div class="col-sx-12  col-lg-12  col-md-12 col-sm-12 " style="width:98.50%;">
                <div class="box">
                    <div class="box-body">
                        <div class="planel-body" >
                            <div class="row" >        
                                <div class= "col-md-12 col-sx-12 col-sm-12 col-lg-12" >
                                    <table id="tableListar" class="display table responsive table-hover nowrap table-condensed tableListar "   cellspacing="0" width="97%">
                                        <thead>
                                            <tr>
                                                <th style="width:6%" class = "table-header" th:text="#{compra.listado.proveedor}">         </th>
                                                <th style="width:4%" class = "table-header" th:text="#{compra.listado.consecutivo}">         </th>
                                                <th style="width:6%"  class = "table-header" th:text="#{compra.listado.fecha.compra}">               </th>
                                                <th style="width:5%" class = "table-header" th:text="#{compra.listado.fecha.ingreso}"> </th>
                                                <th style="width:5%" class = "table-header" th:text="#{compra.listado.fecha.credito}"></th>
                                                <th style="width:5%" class = "table-header" th:text="#{compra.listado.total}">                  </th>
                                                <th class = "table-header" style="width:5%" >Usuario     </th>                </th>
                                                <th style="width:2%" class = "table-header" th:text="#{listado.acciones}">                </th>
                                            </tr>
                                        </thead>
                                        <tfoot style="display: table-header-group;">
                                            <tr>
                                                <th style="width:6%" th:text="#{compra.listado.proveedor}">   </th>
                                                <th style="width:4%" th:text="#{compra.listado.consecutivo}"> </th>
                                                <th style="width:6%" th:text="#{compra.listado.fecha.compra}"></th>
                                                <th style="width:5%" th:text="#{compra.listado.fecha.ingreso}"> </th>
                                                <th style="width:5%" th:text="#{compra.listado.fecha.credito}"></th>
                                                <th style="width:5%" th:text="#{compra.listado.total}">        </th>
                                                <th  style="width:5%" >Usuario     </th>
                                                <th style="width:2%">                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>   
                            </div> 
                        </div>    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Fin del Listado -->

</body>
</html>