<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/compras/recepcionCompras.css?v=1}" />
</head>
<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
		<header class="main-header">
			<div th:replace="administrativo/header"></div>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<div th:replace="administrativo/mainsidebar"></div>
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" th:fragment="header"></section>
			<!-- Main content -->
			<section class="content">
				<!-- Listado  -->
				<div id="containerRecepcion">
					<div class="row">
						<div class="col-sx-12  col-lg-12  col-md-12 col-sm-12 "
							style="width: 98.50%;">
							<div class="box">
								<div class="box-body">
									<div class="planel-body">
										<div class="row">
											<div class="col-md-12 col-sx-12 col-sm-12 col-lg-12">
												<table id="tableListar"
													class="display table responsive table-hover nowrap table-condensed tableListar ">
													<thead>
														<tr>
															<th style="width: 4%;" class="table-header"
																th:text="#{recepcionCompras.id}"></th>
															<th style="width: 15%;" class="table-header"
																th:text="#{recepcionCompras.fechaEmision}"></th>
															<th style="width: 6%;" class="table-header"
																th:text="#{recepcionCompras.consecutivo}"></th>
															<th style="width: 40%;" class="table-header"
																th:text="#{recepcionCompras.proveedor}"></th>
															<th style="width: 10%;" class="table-header"
																th:text="#{recepcionCompras.impuestos}"></th>
															<th style="width: 10%;" class="table-header"
																th:text="#{recepcionCompras.moneda}"></th>
															<th style="width: 10%;" class="table-header"
																th:text="#{recepcionCompras.total}"></th>
															<th style="width: 10%" class="table-header"
																th:text="#{listado.acciones}"></th>
														</tr>
													</thead>
													<tfoot style="display: table-header-group;">
														<tr>
															<th style="width: 4%;" th:text="#{recepcionCompras.id}"></th>
															<th style="width: 15%;"
																th:text="#{recepcionCompras.fechaEmision}"></th>
															<th style="width: 6%;"
																th:text="#{recepcionCompras.consecutivo}"></th>
															<th style="width: 40%;"
																th:text="#{recepcionCompras.proveedor}"></th>
															<th style="width: 10%;"
																th:text="#{recepcionCompras.impuestos}"></th>
															<th style="width: 10%;"
																th:text="#{recepcionCompras.moneda}"></th>
															<th style="width: 10%;"
																th:text="#{recepcionCompras.total}"></th>
															<th style="width: 2%"></th>
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin del Listado -->
				</div>
				 <!-- Fin del Listado -->	
		        <recepcion-api></recepcion-api>    
			</section>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="layout/layout :: footer"></footer>
	</div>
	<div th:replace="layout/layout :: scripts"></div>
	<script type="text/javascript"
		th:src="@{/js/views/compras/recepcionCompras.js?v=11}"></script>
		<script type = "riot/tag"  th:src="@{/js/views/components/compras/recepcionAutomatica.tag?v=1}" ></script>

</body>
</html>