<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin">
<head>
 	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Tipo de Cambios de Monedas</title>
    
<!--        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script> -->
<script th:src="@{/js/jquery-1.11.2.js}"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<!-- JQUERY Properties-->
	<script type="text/javascript" th:src="@{/js/jquery.i18n.js}"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.blockUI.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	 
	 <!-- MASK -->
	 <script type="text/javascript" th:src="@{/js/jquery.mask.js}"></script>
	 
	 
   <!-- SWEERT ALERT -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js"></script>

 
    <!-- RIOT -->
	<script th:src="@{/riot/riot.js}"></script>
	<script th:src="@{/riot/riot-compiler.min.js}"></script>
	<script th:src="@{/riot/riot.csp.js}"></script>
	<!-- include riot.js and the compiler -->
	<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script>
	
	<!-- MANTENIMIENTO DE TIPO DE CAMBIOS -->
	<script type="text/javascript" th:src="@{/js/views/tipoCambio/tipoCambio.js}"></script>
	<script type = "riot/tag"  th:src="@{/js/views/components/tipoCambio/crearTipoCambio.tag}" ></script>
    
</head>
<body>
<section layout:fragment="header">

<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Cambio Moneda Dolar</li>
</ol>
</section>
<div layout:fragment="content">
	<tipo-CambioMoneda></tipo-CambioMoneda>
</div>

</body>
</html>