<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>


<body class="hold-transition skin-blue  sidebar-mini">
<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">



     <grafico-inicio></grafico-inicio>
    <div sec:authorize="isAuthenticated()"> 
    <span sec:authorize="isAuthenticated()">    | Logged user: <span sec:authentication="name"></span>  
                 Roles: <span sec:authentication="principal.authorities"></span>            <a th:href="@{/logout}">Sign Out</a> 
     </span> 
<!--   <div th:if="${#authorization.expression('hasRole(''Administrador_Empresa'')')}"> -->
<!--   This will only be displayed if authenticated user has role ROLE_ADMIN. -->
<!-- </div> -->
	</div>
	
	
	
 	</section>
	        <!-- /.content -->
	    </div>
	    <!-- /.content-wrapper -->
	    <footer class="main-footer" th:replace="layout/layout :: footer"></footer>
	</div>
 
 
<div th:replace="layout/layout :: scripts"></div>
<script type="text/javascript" src="/js/Chart.js"></script>
<script type="text/javascript" src="/js/views/inicio/graficos.js"></script>
<script type = "riot/tag"  src="/js/views/inicio/inicio.tag" ></script>
<script th:src="@{/js/factura.js}"></script>


</body>
</html>