<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin}"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Factura Electronica Emprendesoftcr</title>
    
    
</head>
<body>
<div layout:fragment="content">
    
  <!--  <div sec:authorize="isAuthenticated()">-->
 <!-- This content is only shown to authenticated users.-->
<!--</div>-->
   
 
<span sec:authorize="isAuthenticated()">    | Logged user: <span sec:authentication="name"></span> 
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
</div>
</body>
</html>