<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{css/indexMovile/estilos.css?v=10}"/>


<a href="/" class="logo"> <span class="logo-mini"><b>P</b>VT</span>
	<span class="logo-lg"><b>Punto</b> Venta</span></a>

<nav class="navbar navbar-static-top">

	<a th:href="@{#}" class="sidebar-toggle" data-toggle="offcanvas"
		role="button"> <span class="sr-only">Menu</span>
	</a>
</nav>
<div id="resumenFactura">
	<div>
		<span id="resumenFactura-Item" class="resumenFactura-color">Art
			#:20</span>
	</div>
	<div>
		<span id="resumenFactura-Item" class="resumenFactura-color">Ver
			detalles</span>
	</div>
	<div>
		<span id="resumenFactura-total" class="resumenFactura-color">20000</span>
	</div>
</div>

</html>
