<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>引發</span>
            </a>
        </li>
		        <li class="treeview" sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"  >
		            <a href="#">
		                <i class="fa fa-edit"></i>
		                <span>
行政</span>
		                <i class="fa fa-angle-left pull-right"></i>
		            </a>
		            <ul class="treeview-menu">
			          <li sec:authorize="hasAnyAuthority('Administrador_Sistema')" >                       <a href="/ListarUsuario">    <i class="fa fa-circle-o"></i>用戶 </a></li>
			          <li sec:authorize="hasAnyAuthority('Administrador_Sistema')">                        <a href="/ListarEmpresas">   <i class="fa fa-circle-o"></i>公司 </a></li>
			          <li sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><a href="/ListarClientes">   <i class="fa fa-circle-o"></i> 
客戶  </a></li>
			          <li sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><a href="/ListarVendedores"> <i class="fa fa-circle-o"></i> 供應商</a></li>
	  		          <li sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><a href="/ListarCajas">      <i class="fa fa-circle-o"></i> 
儲蓄銀行     </a></li>
		            </ul>
		        </li>
		  <li class="treeview" sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')">
		            <a href="#">
		                <i class="fa fa-calculator"></i>
		                <span>庫存</span>
		                <i class="fa fa-angle-left pull-right"></i>
		            </a>
		            <ul class="treeview-menu">
		                <li><a href="/ListarCategorias"     sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 
分類       </a></li>
		                <li><a href="/ListarMarcas"         sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 品牌           </a></li>
		                <li><a href="/ListarMotivoSalidas"  sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 出發原因</a></li>
		                <li><a href="/ListarMotivoEntradas" sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 
門票的原因</a></li>
		                <li><a href="/ListarArticulos"      sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 用品        </a></li>
		                <li><a href="/ListarKardex"         sec:authorize="hasAnyAuthority('Administrador_Sistema','Administrador_Empresa')"><i class="fa fa-circle-o"></i> 
卡迪斯           </a></li>
		            </ul>
		        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>購物</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/compras"><i class="fa fa-circle-o"></i> 新</a></li>
                
                <li><a href="/ListarProveedores"><i class="fa fa-circle-o"></i> 
供應商</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>銷售</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/puntoVenta"><i class="fa fa-circle-o"></i> 
新</a></li>
                <li><a href="/creditoDebito"><i class="fa fa-circle-o"></i> Notas Credito y Debito</a></li>
                <li><a href="/ventasPorServicio"><i class="fa fa-circle-o"></i>Por Servicios </a></li>
                <li><a href="/postVenta"><i class="fa fa-circle-o"></i>
拍賣 POS </a></li>
            </ul>
        </li>
 		<li class="treeview">
            <a href="#">
                <i class="fa fa-credit-card"></i>
                <span>
賬戶</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ListarCuentaCobrar"><i class="fa fa-circle-o"></i> 收費</a></li>
            </ul>
        </li>
 		<li class="active treeview">
            <a href="/CambioClave">
                <i class="fa fa-user-o"></i> <span>關鍵變化</span>
            </a>
        </li>    
        <li class="active treeview">
            <a href="/AbrirCajas">
                <i class="fa fa-unlock"></i> <span>
打開盒子</span>
            </a>
        </li>  
 		<li class="active treeview">
            <a href="/ListarTipoCambios">
                <i class="fa fa-balance-scale"></i> <span>
類型更改</span>
            </a>
        </li>          
        <li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>
磋商</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ListaFacturas"><i class="fa fa-circle-o"></i>發票清單</a></li>
                <li><a href="/ListaCompras"><i  class="fa fa-circle-o"></i>購買清單</a></li>
            </ul>
        </li>
		<li class="active treeview">
            <a href="/ListaProformas">
                <i class="fa fa-file-archive-o"></i> <span>Proformas</span>
            </a>
        </li>    
		
		<li class="active treeview">
            <a href="/ListarHacienda">
                <i class="fa fa-share"></i> <span>Tributacion</span>
            </a>
        </li>               
         <li class="active treeview">
            <a href="/logout">
                <i class="fa fa-sign-out"></i> <span>出口</span>
            </a>
        </li>
        
     
       
    </ul>
</section>
<!-- /.sidebar -->