<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>


<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
		<header class="main-header">
			<div th:replace="administrativo/header"></div>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<div th:replace="administrativo/mainsidebar"></div>
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" th:fragment="header"></section>
			<!-- Main content -->
			<section class="content">
				<div class="box">
					<div class="box-body">
						<div class="planel-body">
							<h1 th:text="${titulo}"></h1>
							<form th:action="@{/saveTipoTiempo}"   th:object="${tipoTiempo}" method="post">
							<input type="hidden" name="id" id="id" th:field="*{id}">
								<div class="row">
									<div class="col-md-12 col-sx-12 col-sm-12 col-lg-12">

										<label class="col-md-2" for="Descipcion">Descripcion</label> 
										<input th:field="*{descripcion}"
											type="text" class="form-control form-control-sm col-md-6"
											id="descripcion" placeHolder="Digite la descripcion"></input>
									</div>
								</div>
								<div class="box-footer">
									<div class="row">
										<div class="col-md-6 col-sx-12 col-sm-6 col-lg-6">
											<a class="btn-dark-gray btn-back pull-left"
													th:href="@{/regresarTipoCambio}" th:text="Regresar"></a>
											
											
										</div>
										<div class="col-md-6 col-sx-12 col-sm-6 col-lg-6">
											
											
											<button class="btn-green btn-add pull-right">Guardar</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="layout/layout :: footer"></footer>
	</div>


	<div th:replace="layout/layout :: scripts"></div>
	<!-- MANTENIMIENTO DE TIPO DE CAMBIOS -->
	<script type="text/javascript"
		th:src="@{/js/views/tipoCambio/tipoCambio.js?v=9}"></script>
	<script type="riot/tag"
		th:src="@{/js/views/components/tipoCambio/crearTipoCambio.tag?v=9}"></script>


</body>
</html>
