 .campo {
     display: block;
     width: 100%;
     height: 45px;
     padding: 8px 18px;
     font-size: 10px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 2px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     background-color: #fcfcfc;
     border: 1px solid #ccc;
     font: 20px verdana, arial, helvetica, sans-serif;
     margin: 2px 0;
     padding: 1px 2px;
     overflow: visible;
}
/* Lista de facturas en espera*/
 .cabecera-derecha .lista-factura-espera{
     width:100%;
     display:flex;
     flex-wrap:wrap;
}
 .cabecera-derecha .lista-factura-espera .factura-espera{
     display:block;
     width:90%;
     padding:6px 0;
     margin-bottom:20px;
     margin-left:15px;
     margin-right:5px;
     background:red;
     text-align:center;
     text-decoration:none;
     color:#ffffff !important;
     text-shadow: 0px 0px 1px #ffffff;
     font-style: italic;
}
 .label-limpiar{
     font-weight: 600 !important;
     font-size: 20px !important;
     font-family: Roboto,sans-serif !important;
     color: #ffffff !important;
     text-shadow: 0px 0px 1px #ffffff;
     font-style: italic;
     text-align: left;
     padding-left: 20px;
     line-height: 30px;
     border-collapse: separate;
     text-align: center;
     cursor: pointer;
     padding: 5px;
     margin: 10px;
     border: none;
     text-align: center !important;
     background-color: black !important;
     box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
     border-radius: 5px;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
 .label-articulos{
     font-weight: 600 !important;
     font-size: 20px !important;
     font-family: Roboto,sans-serif !important;
     color: #30ed17 !important;
     text-shadow: 0px 0px 1px #ffffff;
     font-style: italic;
     text-align: left;
     padding-left: 20px;
     line-height: 30px;
     border-collapse: separate;
     text-align: center;
     cursor: pointer;
     padding: 5px;
     margin: 10px;
     border: none;
     text-align: center !important;
     background-color: black !important;
     box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
     border-radius: 5px;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
 .label-totales{
     font-weight: 600 !important;
     font-size: 30px !important;
     font-family: Roboto,sans-serif !important;
     color: #30ed17 !important;
     text-shadow: 0px 0px 1px #ffffff;
     font-style: italic;
     text-align: left;
     padding-left: 20px;
     line-height: 30px;
     border-collapse: separate;
     text-align: center;
     cursor: pointer;
     padding: 10px;
     margin: 20px;
     border: none;
     text-align: center !important;
     background-color: black !important;
     box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
     border-radius: 5px;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
 #pagarTitulo{
     font-weight: 600 !important;
     font-size: 30px !important;
     font-family: Roboto,sans-serif !important;
     color: #ffffff !important;
     text-shadow: 0px 0px 1px #ffffff;
     font-style: italic;
     text-align: left;
     padding-left: 20px;
     line-height: 30px;
}
 .tamanoLetraTotales{
     font-weight: 600 !important;
     font-size: 30px !important;
}
 #pagarTable,#pagarTableInfo{
     border-collapse: separate;
}
 #pagarTableInfo{
     background-color: #f2f2f2;
     color: #000;
     text-align: center;
}
 #total-show {
     padding: 0px;
     font-weight: 400;
     background: none!important;
     font-size: 30px;
     color: #ffffff !important;
     text-shadow: 0px 0px 1px #ffffff;
     padding-top: 0px;
     line-height: 40px;
}
 #btnGrandePagar,#btnGrandePagar2{
     cursor: pointer;
     padding: 0px;
     margin: 10px;
     border: none;
     text-align: center !important;
     background-color: #6dca42 !important;
     box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
     border-radius: 5px;
     -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
 #pagarInfo,#iva-total,#subtotal,#sigPeso{
     font-weight: 100 !important;
     font-size: 14px !important;
}
 #pagarInfo{
     font-size: 12px !important;
}
 *{
     margin:0;
     padding:0;
     box-sizing:border-box;
}
 body{
     background:white;
}
 .wrap{
     max-width:1100px;
     width:100%;
     margin:auto;
}
 .contenedor-factura {
     display:flex;
     width:100%;
     margin :auto;
}
 .cabecera-izquierda {
     margin-right:5%;
     width:85%;
    disabled 
}
 .cabecera-derecha {
     width:25%;
}
 .contenedor-detalle {
     display:flex;
     width:100%;
     margin :auto;
}
 .booking-details h1 {
     font-size: 1.5em;
     color: #666;
     text-shadow: none;
}
 .booking-details .booking-info {
     border-top: 1px solid #DFDCD1;
     padding: 15px 0 0;
     margin: 15px 0 0;
     font-size:25px;
     display: inline-block;
     width: 100%;
}
 .total{
     font-weight:bold;
     font-size:20px;
}
 .precioTotalFactura{
     font-weight:bold;
     font-size:45px;
     color: #0C9C22;
     border-top: 1px solid #DFDCD1;
     padding: 0 0 5px;
     padding: 25px 0 0;
     margin: 15px 0 0;
}
 label {
     display: inline-block;
     max-width: 100%;
     margin-bottom: 5px;
     font-weight: 600;
}
 .tituloTotal{
     font-size:25px;
}
 .lista-articulos{
     width:100%;
     display:flex;
     flex-wrap:wrap;
}
 .lista-articulos .product-item{
     width:22%;
     margin-left:1%;
     margin-bottom:25px;
     box-shadow:0px 0px 6px 0px rgba(0,0,0,0.22);
     display:flex;
     flex-direction:column;
     align-items:center;
     align-self:flex-start;
}
 .lista-articulos .product-item img{
     width:100%;
}
 .lista-articulos .product-item a{
     display:block;
     width:100%;
     padding:8px 0;
     background:#2D3E50;
     color:#fff;
     text-align:center;
     text-decoration:none;
}
 