<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="fAdmin">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <!-- Normalize-->
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    
    
    <!-- Select-boostrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-select/dist/css/bootstrap-select.css}" >
    
    <!-- Font-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/regular.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" >
    <link rel='stylesheet' type='text/css' th:href='@{/css/openSanz.css}' >
    <link th:href='@{/css/montserrat.css}' rel='stylesheet'>
   
    
    <!-- DATATABLE -->
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/media/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/extensions/Responsive/css/responsive.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/extensions/Responsive/css/responsive.bootstrap4.min.css}" />
    
       <!-- Bootstrap 4.0.0 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    
     <!-- Font-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/regular.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" >
    <link rel='stylesheet' type='text/css' th:href='@{/css/openSanz.css}' >
    <link th:href='@{/css/montserrat.css}' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
        <!-- crud de la aplicacion -->
    <link rel="stylesheet" th:href="@{/css/crud.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/factura.css}"/>
   <!-- SWEET ALERT -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert2.min.css}">
  <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.css}"/>
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{/plugins/iCheck/flat/blue.css}" />
     <!-- jvectormap -->
    <link rel="stylesheet" th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
    <!-- Date Picker -->
    <link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}"/>
       <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.custom.min.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery-ui.theme.css}"/>
     
<!--  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-datetimepicker.css}"> -->
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{/prueba/bootstrap-datetimepickerPrueba.min.css}"/>
     
     <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/jquery.toast.css}"/>
    <style>
  .containerMenu{
	  background-color: #222d32 !important;
  }
	
	</style>
    
    
   
</head>
<body class="hold-transition skin-blue  sidebar-mini   ">

	<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">
	             <div th:fragment="content"></div>
	        </section>
	        <!-- /.content -->
	    </div>
	    <!-- /.content-wrapper -->
	    <footer class="main-footer">
	        <strong>Copyright &copy; 2018 Factura Electronica EmprendeSoftCR. Telefono : 8312-4207 / 8729-2997 Email:emprendesoftcr@facturaemprendesoftcr.com</strong>
	    </footer>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript"  th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<!-- JQUERY Properties-->
	<script type="text/javascript" th:src="@{/js/jquery.i18n.js}"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.blockUI.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<!-- MASK -->
	<script type="text/javascript" th:src="@{js/jquery.mask.js}"></script>
	<!-- SWEERT ALERT -->
	<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.js}"></script>
	<script type="text/javascript" th:src="@{/js/tooltip.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/momentPrueba.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/bootstrapPrueba.min.js}"></script>
	<script type="text/javascript" th:src="@{/prueba/bootstrap-datetimepickerPrueba.min.js}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	<script type="text/javascript"  th:src="@{/dist/js/jquery-qrcode-0.14.0.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/morris/morris.min.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/knob/jquery.knob.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/validator.min.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
	<script type="text/javascript"  th:src="@{/plugins/fastclick/fastclick.js}"></script>
	<script type="text/javascript"  th:src="@{/dist/js/app.js}"></script>
	<script type="text/javascript"  th:src="@{/dist/js/pages/dashboard.js}"></script>
	<script type="text/javascript"  th:src="@{/dist/js/demo.js}"></script>
	<script type="text/javascript"  th:src="@{/js/jsonPath.js}"></script>
	<!-- DATATABLE -->
	<script type="text/javascript" th:src="@{/DataTables/media/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js}"></script>
	<!-- SISTEMA -->
	<script type="text/javascript"  th:src="@{/js/factura.js?v=40}"></script>
	<script type="text/javascript"  th:src="@{/js/facturaDefaultJqueryValidator.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
	<!-- Select-boostrap-->
	<script type="text/javascript"  th:src="@{/bootstrap-select/dist/js/bootstrap-select.js}"></script>
	<script type="text/javascript"  th:src="@{/bootstrap-select/dist/js/i18n/defaults-es_ES.js}"></script>
	<script type="text/javascript"  th:src="@{/js/moment-timezone.js}"></script>
	<script type="text/javascript"  th:src="@{/js/jquery-barcode.js}"></script>
	<script type="text/javascript"  th:src="@{/js/print.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.toast.js}"></script>
	
	
</body>

</div>


</html>