<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin">
<head>
 	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Abrir Cajas</title>
    
     <script th:src="@{/js/jquery-1.11.2.js}"></script>
 
    <!-- RIOT -->
	<script src="/riot/riot.js"></script>
	<script src="/riot/riot-compiler.min.js"></script>
	<script src="/riot/riot.csp.js"></script>
	<!-- include riot.js and the compiler -->
	<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script>
	
	<!-- MANTENIMIENTO DE CAJAS -->
	<script type="text/javascript" src="/js/views/caja/abrirCaja.js"></script>
	<script type = "riot/tag"  src="/js/views/components/caja/abrirCaja.tag" ></script>
	<script type = "riot/tag"  src="/js/views/components/caja/imprimirCorte.tag" ></script>
    
</head>
<body>
<section layout:fragment="header">

<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Abrir Cajas</li>
</ol>
</section>
<div layout:fragment="content">
 	<abrir-caja></abrir-caja>
 	<imprimir-caja></imprimir-caja>
</div>

</body>
</html>