<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin">
<head>
 	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Listado de Notas de credito/debido </title>
     <!-- Meta -->
	
    <meta http-equiv="Expires" content="0">
   <meta http-equiv="Last-Modified" content="0">
   <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
   <meta http-equiv="Pragma" content="no-cache">
    <script th:src="@{/js/jquery-1.11.2.js}"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<!-- JQUERY Properties-->
	 <link rel="stylesheet" type="text/css" th:href="@{/css/notacredito.css}"/>
	<script type="text/javascript" src="js/jquery.i18n.js"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	 <!-- MASK -->
	 <script type="text/javascript" src="js/jquery.mask.js"></script>
	 <script type="text/javascript" src="/js/print.min.js"></script>
	 <script th:src="@{/js/jsonPath.js}"></script>
   <!-- SWEERT ALERT -->
        <script type="text/javascript" src="/js/sweetalert2.min.js"></script>
    <!-- RIOT -->
	<script src="/riot/riot.js"></script>
	<script src="/riot/riot-compiler.min.js"></script>
<!-- 	<script src="/riot/riot.csp.js"></script> -->
<!-- 	<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script> -->
	<!-- LISTADO DE FACTURAS -->
	<script type="text/javascript" src="/js/views/facturas/listasnotas.js"></script>
	<script type = "riot/tag"  src="/js/views/components/facturas/listaFacturas.tag" ></script>
	<script type = "riot/tag"  src="/js/views/components/facturas/imprimirPTV.tag" ></script>
	
	<style>
	.tituloFacturas{
	    font-size: 24px;
        color: black;
	}
	.formatoEntrada{
		margin-bottom: 1%;
    }
	.scrlollT{
	overflow: scroll;
	}
	html {
         scroll-behavior: smooth;
    }
	
	</style>
    
</head>
<body>
<div layout:fragment="content">
  
    
    <!-- Inicio Filtros-->
<div class="mostrarListadoDeFacturas "  id="mostrarListadoDeFacturas" scrlollT>
  <!-- Titulos -->
    <div  class="row "  >
        <div  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
             <i class="fa fa-calculator tituloFacturas" th:text="#{titulo.notaDeditocredito.listado}"></i >
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        </div>
    </div>
        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-left advanced-search-grid" style="padding : 2px;  cursor: pointer;" id="panelFiltros">
                    <h4> <i class="fa fa-filter" style="padding-left : 5px;"></i>&nbspFiltros de Consulta <i id="advanced-search-collapse-icon" class="fa fa-expand pull-right" style="padding-right : 5px;"></i></h4>
                </div>  
                <div  id = "filtrosAvanzados" class="advanced-search-grid text-left" style="padding-top : 5px; padding-bottom : 5px;">
                    <form id="filtros" name="filtros">              
                        <div class= "row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="knob-label"  >Fecha Inicial <span class="requeridoDato">*</span></label>
                                    <div  class="form-group input-group date datepickerFechaInicial" data-provide="datepicker"   data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control fechaInicial" id="fechaInicial"  name= "fechaInicial" readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>	                             
                                </div>  
                            </div>             
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="knob-label" >Fecha Final <span class="requeridoDato">*</span></label>
                                        <div  class="form-group input-group date datepickerFechaFinal" data-provide="datepicker"   data-date-format="yyyy-mm-dd">
                                            <input type="text" class="form-control fechaFinal" id="fechaFinal"  name= "fechaFinal" readonly>
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>	                             
                                    </div>
                                </div>  
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Cliente </label>  
                                    <select  class="form-control selectCliente" id= "cliente" name="cliente" data-live-search="true">
                                        <option  data-tokens="Todos"   value="0"  >Todos</option>
                                    </select>
                                </div>  
                            </div>  
                        </div>
                        <div class= "row">
                        	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                 <div class="form-group">
                                    <label th:text="#{factura.tipo.documento}"> </label>  
                                    <select  class="form-control tipoDocumento" id="tipoDocumento" name="tipoDocumento" >
                                        <option  data-tokens="Todos"   value="0"  >Todos</option>  
                                    </select>
                                 </div>  
                            </div>
                             <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Actividad Economica </label>  
                                    <select  class="form-control selectActividadEconocimica" id= "actividadEconomica" name="actividadEconomica" >
                                        <option  data-tokens="Todos"   value="0"  >Todos</option>  
                                    </select>
                                </div>  
                            </div>    
                             <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Estado </label>  
                                    <select  class="form-control selectEstado" id= "estado" name="estado" >
                                    	<option  value="0"  th:text="#{todos.select}"></option>
                                    	<option  value="6"  th:text="#{estado.factura.aceptada}"></option>
                                        <option  value="2"  th:text="#{estado.factura.facturada}"></option>
                                    	<option  value="7"  th:text="#{estado.factura.rechazada}"></option>
                                    </select>
                                </div>  
                            </div>    
                        </div>   
                        <div class="row">
                             <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Usuarios </label>  
                                    <select  class="form-control selectUsuarios" id= "usuario" name="usuario" data-live-search="true">
                                        <option  data-tokens="Todos"   value="0"  >Todos</option>
                                    </select>
                                </div>  
                            </div>
                        </div> 
                    </form>  
                </div>
            </div>
            <div class="col-xs-12 text-right formatoEntrada">
                <button  id="bontonBusqueda" type="button" class="btn btn-success btnBusquedaAvanzada" title ="Consultar" name="button" ><i class="fa fa-refresh"></i></button>
            	<button  class="btn btn-warning btnLimpiarFiltros" title="LimpiarCampos" type="button"><i id="clear-filters" class="fa fa-eraser clear-filters"></i></button>            
            </div>
        </div>
       
   <!-- Listado  -->
    
        <div class="row ">
            <div class="col-sx-12  col-lg-12  col-md-12 col-sm-12 " style="width:98.50%;">
                <div class="box">
                    <div class="box-body">
                        <div class="planel-body" >
                            <div class="row " >        
                                <div class= "col-md-12 col-sx-12 col-sm-12 col-lg-12" >
                                    <table id="tableListar" class="display table responsive table-hover nowrap table-condensed tableListar "   cellspacing="0" width="97%">
                                        <thead>
                                           <tr>
                                                <th style="width:6%" class = "table-header" th:text="#{usuario.nombreUsuario}"></th>
                                                <th style="width:4%" class = "table-header" th:text="#{factura.fecha.emision}"></th>
                                                <th style="width:3%" class = "table-header" th:text="#{factura.documento}"></th>
                                                <th style="width:3%" class = "table-header" th:text="#{factura.tipo.documento}"></th>
                                                <th style="width:3%" class = "table-header" th:text="#{factura.tipoDoc.nota}"></th>
                                                <th style="width:3%" class = "table-header" th:text="#{factura.tipo.documento}"></th>
                                                <th style="width:6%"  class = "table-header" >Por</th>
                                                <th style="width:6%"  class = "table-header" th:text="#{factura.cliente}"></th>
                                                <th style="width:5%" class = "table-header" th:text="#{factura.total}"></th>
                                                <th style="width:5%" class = "table-header" th:text="#{factura.estado}"></th>
                                                <th style="width:2%" class = "table-header" th:text="#{listado.acciones}"></th>
                                            </tr>
                                        </thead>
                                        <tfoot style="display: table-header-group;">
                                            <tr>
                                                <th style="width:6%" th:text="#{usuario.nombreUsuario}"></th>
                                                <th style="width:4%" th:text="#{factura.fecha.emision}"></th>
                                                <th style="width:3%" th:text="#{factura.documento}"></th>
                                                <th style="width:3%" th:text="#{factura.tipo.documento}"></th>
                                                <th style="width:3%" th:text="#{factura.tipoDoc.nota}"></th>
                                                <th style="width:3%" th:text="#{factura.tipo.documento}"></th>
                                                <th style="width:6%"  >Por</th>
                                                <th style="width:6%"  th:text="#{factura.cliente}"></th>
                                                <th style="width:5%" th:text="#{factura.total}"></th>
                                                <th style="width:5%" th:text="#{factura.estado}"></th>
                                                <th style="width:2%"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>   
                            </div> 
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del Listado -->
     
    
      <lista-facturas></lista-facturas>
      <ptv-imprimir></ptv-imprimir>     
</div>
 
</body>
</html>