<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/restaurante/ventaPostRestaurante.css?v=5}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/restaurante/postMovilRestaurante.css?v=5}" />
</head>
<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">
	        	<venta-restaurante></venta-restaurante>
    			<ptv-imprimir></ptv-imprimir>
    			<tiquete-imprimir></tiquete-imprimir>
     			<entrada-salida></entrada-salida>
    			<impentrada-salida></impentrada-salida>
            </section>    
 		</div>
         <!-- /.content-wrapper -->
	    <footer class="main-footer" th:replace="layout/layout :: footer"></footer>
    </div>
	  
 
<div th:replace="layout/layout :: scripts"></div>
<script type="text/javascript" th:src="@{/js/views/facturas/restaurante.js?v=20}"></script>
<script type = "riot/tag"  th:src="@{/js/views/components/facturas/restaurante.tag?v=20}" ></script>
<script type = "riot/tag"  th:src="@{/js/views/components/facturas/imprimirPTV.tag?v=21}" ></script>
<script type = "riot/tag"  th:src="@{/js/views/components/facturas/imprimirTiqueteImpServicio.tag?v=20}" ></script>
<script type="text/javascript" th:src="@{/js/print.min.js}"></script>
<script type = "riot/tag"       th:src="@{/js/views/components/caja/entradaSalidaDinero.tag?v=20}" ></script>
<script type = "riot/tag"       th:src="@{/js/views/components/caja/imprimirEntradaSalida.tag?v=20}" ></script>


</body>
</html>