<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin">
<head>
 	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Lista de Proformas </title>
    
<!--        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script> -->
  <script th:src="@{/js/jquery-1.11.2.js}"></script>
	<!-- jQuery UI 1.11.4 -->
<!-- 	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
 <script th:src="@{/js/jquery-1.11.2.js}"></script>
	<!-- JQUERY Properties-->
	<script th:src="@{/dist/js/jquery-qrcode-0.14.0.js}"></script>
	<script type="text/javascript" src="js/jquery.i18n.js"></script>
	<script type="text/javascript" th:src="@{webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js}"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	 
	 <!-- MASK -->
	 <script type="text/javascript" src="js/jquery.mask.js"></script>
	 <script type="text/javascript" src="/js/print.min.js"></script>
	 
	 
   <!-- SWEERT ALERT -->
<!--         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js"></script> -->
 <script type="text/javascript" th:src="@{/js/sweetalert2.min.js}"></script>
 
    <!-- RIOT -->
	<script src="/riot/riot.js"></script>
	<script src="/riot/riot-compiler.min.js"></script>
<!-- 	<script src="/riot/riot.csp.js"></script> -->
	<!-- include riot.js and the compiler -->
<!-- 	<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script> -->
	
	<!-- MANTENIMIENTO DE PROFORMAS -->
	<script type="text/javascript" src="/js/views/facturas/listarProformas.js"></script>
	<script type = "riot/tag"  src="/js/views/components/facturas/proFormas.tag" ></script>
	<script type = "riot/tag"  src="/js/views/components/facturas/imprimirPTVProforma.tag" ></script>
	      
</head>
<body>
<section layout:fragment="header">


</section>
<div layout:fragment="content">
   <lista-proformas></lista-proformas>
   <proforma-imprimir></proforma-imprimir>
    <div id="mostrarListado"> 
    <!-- Titulos -->
    <div  class="row "  >
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 > <i class="fa fa-calculator" th:text="#{facturas.proformas}"></i ></h1>
        </div>
        
    </div>
     <!-- Listado  -->
      <!-- Listado  -->
   <div classs="container">
        <form id = "filtros" name ="filtros" >
		  <div class= "row">
               	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <div class="form-group">
                         <label th:text="#{combo.estado.titulo}"> </label>  
                         <select  class="form-control estado" id="estado" name="estado"  >
                             
                         </select>
                     </div>
                 </div>
          </div>    
          <br>     
		</form>
    
     
                            <div class="row" >        
                                <div class= "col-md-12 col-sx-12 col-sm-12 col-lg-12" >
                                    <table id="tableListar" class="display table responsive table-hover nowrap table-condensed tableListar "   cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="width:4%" class = "table-header" th:text="#{factura.id}"></th>
                                                <th style="width:4%" class = "table-header" th:text="#{factura.id}"></th>
                                                <th style="width:6%" class = "table-header" th:text="#{usuario.nombreUsuario}"></th>
                                                <th style="width:6%" class = "table-header" th:text="#{factura.fecha.emision}"></th>
                                                <th style="width:15%"  class = "table-header" th:text="#{factura.cliente}">               </th>
                                                <th style="width:15%"  class = "table-header" >A nombre               </th>
                                                <th style="width:6%" class = "table-header" th:text="#{factura.linea.detalle.impuesto}"></th>
                                                <th style="width:8%" class = "table-header" th:text="#{factura.linea.detalle.descuento}"></th>
                                                <th style="width:10%" class = "table-header" th:text="#{factura.total}"></th>
                                                <th class = "table-header" th:text="#{listado.acciones}"></th>
                                            </tr>
                                        </thead>
                                        <tfoot style="display: table-header-group;">
                                            <tr>
                                            <th style="width:4%" th:text="#{factura.id}"></th>
                                                <th style="width:4%" th:text="#{factura.id}"></th>
                                                <th style="width:6%" th:text="#{usuario.nombreUsuario}"></th>
                                                <th style="width:6%" th:text="#{factura.fecha.emision}"></th>
                                                <th style="width:15%"  th:text="#{factura.cliente}">               </th>
                                                <th style="width:15%"  >A nombre               </th>
                                                <th style="width:6%" th:text="#{factura.linea.detalle.impuesto}"></th>
                                                <th style="width:8%" th:text="#{factura.linea.detalle.descuento}"></th>
                                                <th style="width:10%" th:text="#{factura.total}"></th>
                                                <th ></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                           </div>   
     
    <!-- Fin del Listado -->
</div>
</div>

</body>
</html>