<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">
				  <lista-proformas></lista-proformas>
				   <proforma-imprimir></proforma-imprimir>
				 <div id="mostrarListado"> 
						    <!-- Titulos -->
						    <div  class="row "  >
						        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						            <h1 > <i class="fa fa-calculator" th:text="#{facturas.proformas}"></i ></h1>
						        </div>
						        
						    </div>
						     <!-- Listado  -->
						      <!-- Listado  -->
						        <form id = "filtros" name ="filtros" >
								  <div class= "row">
						               	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						                     <div class="form-group">
						                         <label th:text="#{combo.estado.titulo}"> </label>  
						                         <select  class="form-control estado" id="estado" name="estado"  >
						                             
						                         </select>
						                     </div>
						                 </div>
						          </div>    
						         
								</form>
                        <div class="row" >        
                             <div class= "col-md-12 col-sx-12 col-sm-12 col-lg-12" >
                                   <table id="tableListar" class="display table responsive table-hover nowrap table-condensed tableListar "   >
                                        <thead>
                                         <tr>
                                             <th style="width:4%" class = "table-header" th:text="#{factura.id}"></th>
                                             <th style="width:4%" class = "table-header" th:text="#{factura.id}"></th>
                                             <th style="width:6%" class = "table-header" th:text="#{usuario.nombreUsuario}"></th>
                                             <th style="width:6%" class = "table-header" th:text="#{factura.fecha.emision}"></th>
                                             <th style="width:15%"  class = "table-header" th:text="#{factura.cliente}">               </th>
                                             <th style="width:15%"  class = "table-header" >A nombre               </th>
                                             <th style="width:6%" class = "table-header" th:text="#{factura.linea.detalle.impuesto}"></th>
                                             <th style="width:8%" class = "table-header" th:text="#{factura.linea.detalle.descuento}"></th>
                                             <th style="width:10%" class = "table-header" th:text="#{factura.total}"></th>
                                             <th class = "table-header" th:text="#{listado.acciones}"></th>
                                          </tr>
                                          </thead>
	                                      <tfoot style="display: table-header-group;">
	                                           <tr>
		                                            <th style="width:4%" th:text="#{factura.id}"></th>
	                                                <th style="width:4%" th:text="#{factura.id}"></th>
	                                                <th style="width:6%" th:text="#{usuario.nombreUsuario}"></th>
	                                                <th style="width:6%" th:text="#{factura.fecha.emision}"></th>
	                                                <th style="width:15%"  th:text="#{factura.cliente}">               </th>
	                                                <th style="width:15%"  >A nombre               </th>
	                                                <th style="width:6%" th:text="#{factura.linea.detalle.impuesto}"></th>
	                                                <th style="width:8%" th:text="#{factura.linea.detalle.descuento}"></th>
	                                                <th style="width:10%" th:text="#{factura.total}"></th>
	                                                <th ></th>
	                                            </tr>
	                                       </tfoot>
	                                  </table>
	                            
	                        </div>   
					    <!-- Fin del Listado -->
					</div>
			</div>	 	        
	        
            </section>    
 		</div>
         <!-- /.content-wrapper -->
	    <footer class="main-footer" th:replace="layout/layout :: footer"></footer>
    </div>
	  
 
<div th:replace="layout/layout :: scripts"></div>
<script type="text/javascript" th:src="@{/js/views/facturas/listarProformas.js}"></script>
<script type = "riot/tag"  th:src="@{/js/views/components/facturas/proFormas.tag}" ></script>
<script type = "riot/tag"  th:src="@{/js/views/components/facturas/imprimirPTVProforma.tag}" ></script>


</body>
</html>