<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
  
    <link rel="stylesheet" type="text/css" th:href="@{/css/ventaPost.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/articulo/cambioPrecio/cambioPrecio.css}"/>

</head>

<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
	    <header class="main-header">
	        <div th:replace="administrativo/header"></div>
	    </header>
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="main-sidebar">
	        <div th:replace="administrativo/mainsidebar"></div>
	    </aside>
	    <!-- Content Wrapper. Contains page content -->
	    <div class="content-wrapper">
	        <!-- Content Header (Page header) -->
	        <section class="content-header" th:fragment="header"></section>
	        <!-- Main content -->
	        <section class="content">
				<cambiar-precio></cambiar-precio>
		 		<articulo-imprimir></articulo-imprimir>	        
            </section>    
 		</div>
         <!-- /.content-wrapper -->
	    <footer class="main-footer" th:replace="layout/layout :: footer"></footer>
    </div>
	  
 
<div th:replace="layout/layout :: scripts"></div>
	<script type="text/javascript" th:src="@{/js/views/articulos/cambioPrecio.js?v=40}"></script>
	<script type = "riot/tag"  th:src="@{/js/views/components/articulos/cambiarPrecio.tag?v=40}" ></script>
	<script type = "riot/tag"  th:src="@{/js/views/components/articulos/imprimirCodgio.tag?v=40}" ></script>


</body>
</html>