<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition skin-blue  sidebar-mini">
	<div class="containerMenu">
		<header class="main-header">
			<div th:replace="administrativo/header"></div>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<div th:replace="administrativo/mainsidebar"></div>
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" th:fragment="header"></section>
			<!-- Main content -->
			<section class="content">
				<resultado-hacienda></resultado-hacienda>
				<div class="row ">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<h1>
							<i class="fa fa-share" th:text="#{hacienda.titulo}"></i>
						</h1>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
					</div>
				</div>
				<!-- Inicio Filtros-->
				<div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="text-left advanced-search-grid"
								style="padding: 2px; cursor: pointer;" id="panelFiltros">
								<h4>
									<i class="fa fa-filter" style="padding-left: 5px;"></i>Filtros
									de Consulta <i id="advanced-search-collapse-icon"
										class="fa fa-expand pull-right" style="padding-right: 5px;"></i>
								</h4>
							</div>
							<div id="filtrosAvanzados" class="advanced-search-grid text-left"
								style="padding-top: 5px; padding-bottom: 5px;">
								<form id="filtros" name="filtros">
									<div class="row">
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div class="form-group">
												<label class="knob-label">Fecha Inicial <span
													class="requeridoDato">*</span></label>
												<div
													class="form-group input-group date datepickerFechaInicial"
													data-provide="datepicker" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control fechaInicial"
														id="fechaInicial" name="fechaInicial" readonly>
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-th"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div class="form-group">
												<div class="form-group">
													<label class="knob-label">Fecha Final <span
														class="requeridoDato">*</span></label>
													<div
														class="form-group input-group date datepickerFechaFinal"
														data-provide="datepicker" data-date-format="yyyy-mm-dd">
														<input type="text" class="form-control fechaFinal"
															id="fechaFinal" name="fechaFinal" readonly>
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-th"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
											<div class="form-group">
												<label>Cliente </label> <select
													class="form-control selectCliente" id="cliente"
													name="cliente" data-live-search="true">
													<option data-tokens="Todos" value="0">Todos</option>
												</select>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
						<div class="col-xs-12 text-right">
							<button id="bontonBusqueda" type="button"
								class="btn btn-success btnBusquedaAvanzada" title="Consultar"
								name="button">
								<i class="fa fa-refresh"></i>
							</button>
							<button class="btn btn-warning btnLimpiarFiltros"
								title="LimpiarCampos" type="button">
								<i id="clear-filters" class="fa fa-eraser clear-filters"></i>
							</button>
						</div>
					</div>
				</div>
				<!-- Fin Filtros-->
				<br>
				<!-- Listado  -->
				<div class="contenedor-listar ">
					<div class="box">
						<div class="box-body">
							<div class="planel-body">
								<div class="row">
									<div class="col-sx-12  col-lg-12  col-md-12 col-sm-12 "
										style="width: 98.50%;">
										<div class="box">
											<div class="box-body">
												<div class="planel-body">
													<div class="row">
														<div class="col-md-12 col-sx-12 col-sm-12 col-lg-12">
															<table id="tableListar"
																class="display table responsive table-hover nowrap table-condensed tableListar ">
																<thead>
																	<tr>
																		<th style="width: 7%" class="table-header">Fecha
																			Emision</th>
																		<th style="width: 14%" class="table-header">Tipo
																		</th>
																		<th style="width: 8%" class="table-header">Consecutivo
																		</th>
																		<th style="width: 18%" class="table-header">Cliente
																		</th>
																		<th style="width: 10%" class="table-header">Total
																		</th>
																		<th style="width: 6%" class="table-header">Estado
																		</th>
																		<th style="width: 9%" class="table-header">Opciones
																		</th>
																	</tr>
																</thead>
																<tfoot style="display: table-header-group;">
																	<tr>
																		<th style="width: 7%">Fecha Emision</th>
																		<th style="width: 14%">Tipo</th>
																		<th style="width: 8%">Consecutivo</th>
																		<th style="width: 18%">Cliente</th>
																		<th style="width: 10%">Total</th>
																		<th style="width: 6%">Estado</th>
																		<th style="width: 9%"></th>
																	</tr>
																</tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 col-lg-1 "></div>
					</div>
				</div>
				<!-- Fin del Listado -->
				<view-pdf></view-pdf>
			</section>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="layout/layout :: footer"></footer>
	</div>


	<div th:replace="layout/layout :: scripts"></div>
	<script type="text/javascript"
		th:src="@{/js/views/hacienda/hacienda.js?v=40}"></script>
	<script type="riot/tag"
		th:src="@{/js/views/components/hacienda/hacienda.tag?v=40}"></script>
	<script type="riot/tag"
		th:src="@{/js/views/components/modalPDF/viewPDF.tag?v=40}"></script>

</body>
</html>
